<!-- !PIE DE PAGINA -->
<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">MagicPlace</div>
          <p>
            Bienvenidos a la fanpage de Magic the Gathering. Aquí podeís encontrar una variedad de herramientas útiles para vuestro día a día.
          </p>
        </div>
        <div class="lower">
          <div class="topic">Autor</div>
          <div class="phone">
            <a target="_blank" href="https://rka13xsw.github.io/portfolio/">Portfolio</a>
          </div>
          <div class="email">
            <a>aciworkspace01@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Fuentes</div>
        <div><a target="_blank" href="https://docs.magicthegathering.io/#documentationgetting_started">MTG API</a></div>
        <div><a target="_blank" href="https://magic.wizards.com/es">Official MTG</a></div>
        <div><a target="_blank" href="https://magicthegathering.io/">MTG Dev Comunity</a></div>
        <div><a target="_blank" href="https://scryfall.com/docs/api">Scryfall API</a></div>
      </div>
      <div class="right box">
        <div class="topic">Contacto</div>
        <form action="#">
          <input type="text" placeholder="Introduzca su correo">
          <input type="text" name="coment" id="commentForm" placeholder="¿Qué desea comentarme?">
          <input type="submit" name="submit" value="Enviar">
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Open Source © 2022 <a routerLink="/">MagicPlace</a></p>
    </div>
  </footer>
<!-- !PIE DE PAGINA -->