<header (mouseleave)="toogleNav()">
    <button id="botonNavegacion" (click)="toogleNav()">
        <img src="assets/iconos/logos/magic3.png" alt="MagicPlace">
    </button>
    <nav id="navegacion" class="noVer">
        <a class="enlace" routerLink="">
            <img src="assets/iconos/logos/magic3.png" alt="MagicPlace">
            <p>MagicPlace</p>
        </a>
        <a class="enlace" routerLink="colecciones">
            <img src="assets/iconos/logos/coleccion.png" alt="Coleccion">
            <p>Colecciones</p>
        </a>
        <a class="enlace" routerLink="mazos">
            <img src="assets/iconos/logos/crearmazos.png" alt="Crear mazos">
            <p>Mis Mazos</p>
        </a>
        <a class="enlace" routerLink="catalogo">
            <img src="assets/iconos/logos/magicpedia.png" alt="MagicPedia">
            <p>Catalogo</p>
        </a>
    </nav>
</header>